
.attcon{
	background-color: #FFFFFF;
    min-height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.attop{
	background-color: rgba(0,0,0, 0.8);
	border-bottom: 2px solid rgba(252, 5, 13, 0.9);
	width: 100%;
	height: 30px;
	margin: 0;
}
.alogout{	
	color: rgba(255,255,255, 0.9);
	font-size: 12px;
	text-transform: capitalize;
	margin: 5px 15px;
	font-weight: bolder;
}
.alogout:hover{
	color: rgba(252, 5, 13, 0.9);	
	text-decoration: none;

}	
.atfom{
	/*border: 5px solid rgba(252, 5, 13, 0.9);*/
	height: auto;
	margin-top: -30px;
}
.atfom table {
	width:100%;
	margin-top: 10px;
	/*border: 1px solid #989876;*/
}
.atfom table tr td:first-child{
	text-align: right;
	padding: 10px 20px 10px 0;
	vertical-align: text-top;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
}
.atfom table tr td:last-child{
	vertical-align: top;	
	padding: 5px 0 0 10px;
}
/*.atfom table tr td:last-child select, 
.atfom table tr td:last-child input[type='text'],
.atfom table tr td:last-child textarea{
	min-width: 500px; max-width: 500px;
}*/
#atclassname,#atcoursecode,#atlecturer,#atTA,#atcomment{
	min-width: 600px; max-width: 600px;
}
#atstarthour,#atstartminute,#atstartwhen,#atstarttime,#atendhour,#atendminute,#atendwhen,#atendtime{
	width: 120px;
}
#atstarttime,#atendtime{
	width: 350px;
}
.atfom table tr td:last-child input[type='text']{
	height: 30px;
}