#monitory
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	/*margin: 45px;*/
	width: 980px;
	border-collapse: collapse;
	text-align: left;
}
#monitory th
{
	font-size: 12px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#monitory td
{
	color: #669;
	padding: 9px 8px 0px 8px;
	/*font-size: 10px;
	font-weight: normal;*/
}
#monitory tbody tr:hover td
{
	color: #009;
}